body{
    background-color: #ffffff;
    background-image: url("../images/stonehaven.png");
}
h2 {
    color: #4aaaa5;
}
.header
{
    background-color: #FFF;
    height: 80px;
}
.center
{
    width: 960px;
    margin: auto;
}
.floatLeft
{
    background-color: #9999FF;
    height: 80px;
    float: left;
    margin: 0px;
}
.floatRight
{
    float:right;
}
.floatRight a
{
    font-size: 24px;
    margin-left: 10px;
    position: relative;
}
.floatRight a:hover
{
    background-color: #FF5599;
    top: 10%;
}
.content
{
    clear: both;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    padding: 20px;
}
#contactBox
    {
    float: left;
    margin-left: 150px;
    border: black solid 2px; 
    width: 600px;
    height: 400px;
    top: 100px;
    }
    #connectBox 
    {
    height: auto;
    width: 200px;
    border: black solid 2px; 
    float: left;
    margin-left: 300px;
}
@media screen and (max-width: 980px) {
    body {
        width: 60%;
    }
    .header {
        width: 60%;
    }
    #contactBox {
        width: 60%;
    }
    #connectBox {
        width: 60%;
    }

}
@media screen and (max-width: 768px) {
    body {
        width: 40%;
    }
    .header {
        width: 40%;
    }
    #contactBox {
        width: 40%;
    }
    #connectBox {
        width: 40%;
    }

}
@media screen and (max-width: 640px) {
    body {
        width: 25%;
    }
    .header {
        width: 25%;
    }
    #contactBox {
        width: 25%;
    }
    #connectBox {
        width: 25%;
    }

}